<!-- <form>
  Enter User Name and User Id of your twitter account: <br>
  User Name:<br>
  <input type="text" name="firstname"><br>
  User Id:<br>
  <input type="text" name="lastname">
</form> -->

Enter your Twitter Credentials <br >
<%= form_for @user do |f| -%>
  User Name: <%= f.text_field :username %> <br >
  User Id: <%= f.text_field :userid %> <br >
  <%= f.submit "Submit"%>
<% end -%>
<p><%= @best_time_to_tweet if @best_time_to_tweet.present? %></p>